:root {
    --primary-color: rgb(2, 131, 182);
    --light-primary-color: rgb(17, 188, 255);
    --background-color: #191d2b;
    --white: white;
    --grey-5-color:#2a2e35;
    --grey-3-color:rgb(172, 169, 169);
    --small-transition: all .5s ease-in-out;
    --large-transition: all 1s ease-in-out;
    --green: green;
    --red: red;

}
* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--background-color);
    font-family: "Poppins", serif;
    color: var(--white);
    overflow-x: hidden;
    
}
h1 {
    font-size: 1.5rem;
    z-index: 11;
    text-align: center;
    padding-top: 1rem;
}

p {
    font-weight: 200;
    font-size: .9rem;
    
}

nav {
    position: fixed;
    top: 50%;
    right: 45px;
    bottom: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 2rem;
    color: var(--white);
    transform: translateY(-50%);
    z-index: 10;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: .4rem .8rem;
        border-radius: 50%;
        background-color: var(--grey-3-color);
        color: var(--white);
        i {
            pointer-events: none;
        }
    }
    .active {
        background-color: var(--light-primary-color);
        transition: var(--small-transition);
        transition:  all .4s ease-in-out;
    }
}


.section {
    min-height: 100vh;
    margin-right: 7rem;
    max-width: 100%;
   
}

.home-sect {
    .home-container {
        height: 100%;
        display: grid;
        /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */       
        width: 100%;
        gap: 4rem;

        .left {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
           
            .img-container {
                outline: .15rem solid var(--white);
                overflow: hidden;
                border-radius: 50%;
                margin-top: 2rem;
                transition: var(--small-transition);
                img {
                    transition: var(--small-transition);
                    &:hover {
                        transform: scaleX(-1);
                        
                    }
                }
                &:hover {
                    box-shadow: 1px 2px .8rem rgba(255,255,255, .6);
                }
                
            }
                        
            
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: -50px;
                bottom: 0;
                height: 50%;
                width: 100%;
                /* clip-path: polygon(59% 19%, 59% 85%, 0 100%, 0 0); */
                clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%);
                background-color: var(--primary-color);
                border: 1rem;
                box-shadow: 4px 4px 4px var(--white);
                z-index: -1;
               

            } 
           
            
        }
        .right {
            /* margin-top: 9rem; */
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding-left: 3rem;
            
            font-weight: 300;
            .introduction{
                
                display: flex;
                flex-direction: column;
                gap: 2rem;
                
                .name {
                    color: var(--primary-color);
                }  
            }
            .more-information {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin-bottom: 3rem;

                button {
                    display: flex;
                    gap: 1.5rem;
                    font-size: .85rem;
                    background-color: var(--background-color);
                    border: 2px solid var(--white);
                    border-radius: 1.5rem;
                    color: var(--white);
                    padding:.8rem 1.2rem;
                    position: relative;
                    cursor: pointer;
                    /* margin: 3rem; */
                    p, i {
                        z-index: 12;
                    }
                    &:hover{
                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            right: 0;
                            height: 100%;
                            border-radius: 1.5rem;
                            background-color: var(--primary-color);
                            width: 100%;
                            animation: btn-animation .4s ease-out;
                            
                        }
                    }
                    
                }
            }   
            
        }
    }

}

i {
   color: var(--white);
}



.social-media-icons {
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
    i {
        cursor: pointer;
        &:hover {
            color: var(--primary-color);
            transition: var(--small-transition);
        }
    }
    
}

/*About section*/
.abt-cont{
    width: 100%;
    height: 100%;
    margin: 3rem;
    margin-bottom: 0;
    padding-right: 4rem;
    

}
.about-intro {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
    
/* flex-wrap: wrap; */
    .intro-content{
        /* display: flex;
        flex-direction: column; */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
    }

    .img-cont{
        justify-self: center;
        
        width: 50%;
        height: 50%;
        
        
        .img {
            width: 15rem;
            height: 15rem;
            outline: 2px solid var(--white);
            border-radius: 50%;
            overflow: hidden;
            object-fit: contain;
            filter: grayscale();
            transition: var(--small-transition);
            align-self: center;
            justify-self: center;
            &:hover {
                filter: none;
                
            }
        }

      

    }
}

skills {
    margin-top: 2rem;
}

.skills-cont {
    padding: 4rem 0;
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem; */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    row-gap: 2rem;
    column-gap: 1.5rem;

    .skill {
        align-self: center;
        justify-self: center;
        border: 1px solid var(--primary-color);
        border-radius: .5rem;
        padding: 1rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        transition: var(--large-transition);
        cursor: pointer;
        .title {
            display: flex;
            align-items: center;
            gap: 3rem;
            img {
                width: 4rem;
                height: 4rem;
                border: 1px solid var(--white);
                border-radius: 50%;
                
            }
        }
        &:hover {
            transform: translateY(-20px);
        }
    }
   
}

/* MY CONTACT */
.contact-sect {
    padding-bottom: 2rem;
    h1 {
        margin-bottom: 2rem;
    }
}
.contact-cont {
    padding-left: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    place-items: center;
    gap: 1.5rem;
    .my-contact {
       display: flex;
       flex-direction: column;
       gap: 2rem;
       .heading {
            display: flex;
            flex-direction: column;
            gap: .5rem;
       }
        .personal-info {
           display: flex;
           flex-direction: column;
           gap:.52rem;
             div {
                display: flex;
                gap: 4rem;
                              
            }
            .phone-no a, .email a {
               color: var(--white);
               font-weight: 100;
               font-size: .9rem;
            } 
            .phone-no a{
                margin-left: -1.8rem;
            }
            .location .nyeri{
                margin-left: -1.2rem;
            }
            .social-media-icons {
                margin-top: 1.5rem;
            }
    }
    }
    .client-contact {
        width: 100%;
        form {
           
            border-radius: .25rem;
            
            display: grid;
            width: 100%;

            label {
                margin-top: 1rem;
                display: grid;
                gap: 1rem;
                max-width: 30rem;
                input {
                    color: var(--white);
                    height: 2.2rem;
                    padding: .5rem;
                    border-radius: .25rem;
                    border: 2px solid var(--grey-3-color);
                    background-color: var(--grey-5-color);
                    
                    &:user-valid, &:valid {
                        border-color: var(--green);
                    }
                    
                    &:user-invalid {
                        border-color: var(--red);
                    }
                    &:focus:invalid {
                        outline: none;
                        border-color: var(--light-primary-color);
                    }
                }
            }
            textarea {
                margin: 1rem 0;
                color: var(--white);
                padding: .5rem;
                max-width: 30rem;
                border-radius: .25rem;
                background-color: var(--grey-5-color);
                border: 3px solid var(--grey-3-color);
                outline: none;
                
            }
            button {
                height: 2.2rem;
                width: 8rem;
                background-color: var(--light-primary-color);
                border: none;
                border-radius: .25rem;
                cursor: pointer;
                transition: var(--small-transition);
                &:hover {
                    background-color: var(--primary-color);
                }
                &:active, &:focus {
                    transform: scale(.95);
                }
            }
        }
        form ~ {
            width: 100%;
        }
    }
}

@keyframes btn-animation {
    0% {
        transform: translateX(100%);
        transform: scale(0,0);
       
    }
    
    100% {
        transform: translateX(0);
        transform: scale(1,1);
        /* width: 100%; */
        /* background-color: var(--primary-color); */
    }
}


/*Media quaries*/
@media screen and (width < 1540px) {
    .border-container{
        width: 30%;
        height: 60% !important;
       
    }
    .home-container {
        grid-template-columns: none;
        gap: 10rem
        
    }
     
}

@media screen and (max-width: 700px){
    body {
        padding-bottom: 4rem;
    }
    nav {
    top: 90%;
    bottom: 10%;
    right: 50%;
    left: 50%;
    flex-direction: row;
    

    div{
        padding: .4rem .8rem;
        i {
            font-size: 1.4rem;
        }
        }

    }
    .section {
        min-height: 100vh;
        margin-right: 3rem;
    }
    .more-information {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-bottom: 4rem;
    }
}
@media screen and ( min-width: 700px){
    .home-container {
        .left {
            &::after {
                height: 18rem;
                width: 18rem;
            }
        }
    }
}
