:root {
    --primary-color: #5046e5;
    --light-primary-color: rgb(17, 188, 255);
    --background-color: #191d2b;
    --white: white;
    --grey-5-color: #2a2e35;
    --grey-3-color: rgb(172, 169, 169);
    --grey-4-color: rgb(139, 137, 137);
    --small-transition: all 0.5s ease-in-out;
    --large-transition: all 1s ease-in-out;
    --green: green;
    --red: red;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--background-color);
    font-family: "Ancizar Serif", serif;
    color: var(--white);
    line-height: 1.75rem;
    overflow-x: hidden;
    padding: 0;
}
.light-mode {
    --primary-color: #5046e5;
    --light-primary-color: rgb(17, 188, 255);
    --background-color: #f9f9f9;
    --white: #333333;
    --grey-3-color: rgb(172, 169, 169);
    --grey-5-color: rgb(172, 169, 169);
    --grey-4-color: #2a2e35;
    --small-transition: all 0.5s ease-in-out;
    --large-transition: all 1s ease-in-out;
    --green: green;
    --red: red;
}
h1 {
    font-size: 3rem;
    z-index: 11;
    text-align: center;
    padding-top: 1rem;
    line-height: 4rem;
}
h2 {
    font-size: 2rem;
}

p {
    font-weight: 200;
    font-size: 1.15rem;
}
.mode-icons {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 200;
    color: var(--white);

    .active-icon {
        display: flex;
        align-items: end;
        justify-content: end;
        gap: 0.5rem;
        cursor: pointer;
    }

    .inactive-icons {
        display: grid;
        position: absolute;
        bottom: -6rem;
        left: 0;
        padding: 0.25rem;
        border-radius: 0.25rem;
        background-color: var(--grey-5-color);
        visibility: hidden;
        opacity: 0;
        transition: var(--small-transition);
        .icon-cont {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            padding: 0 0.125rem;
            border-radius: 0.125rem;
            cursor: pointer;

            p {
                font-size: 0.8rem;
            }
        }

        .active {
            background-color: var(--primary-color);
            color: white;
        }
        .inactive:hover {
            background-color: var(--primary-color);
            color: white;
        }

        &:has(.inactive:hover) .active {
            background-color: var(--grey-5-color);
        }
    }
    .inactive-display {
        visibility: visible;
        opacity: 1;
        transition: var(--small-transition);
    }
}

nav {
    position: fixed;
    top: 50%;
    right: .5rem;
    bottom: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: var(--white);
    transform: translateY(-50%);
    z-index: 20;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 50%;
        background-color: var(--grey-3-color);
        color: var(--white);
        i {
            font-size: 1.5rem;
            pointer-events: none;
        }
    }

    .active {
        background-color: var(--primary-color);
        transition: var(--small-transition);
        transition: all 0.4s ease-in-out;
    }
}

.section {
    min-height: 100vh;
    overflow: hidden;
    max-width: 100%;
    margin: auto;
    padding: 2rem 4rem 0 3rem;
}

.home-sect {
    position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1.5rem;
        padding-bottom: 3rem;
        background: linear-gradient(
            135deg,
            var(--primary-color),
            var(--light-primary-color)
        );

        .heading-desc {
            text-align: center;
            margin-top: 0.5rem;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.1'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        }
        &::before {
            content: "";
            background-color: var(--background-color);
            position: absolute;
            bottom: -1.75rem;
            left: 0;
            width: 100%;
            height: 3rem;
            z-index: 15;
            transform: skewY(-1.75deg);
        }
    }
    .home-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 12rem;
        width: 100%;
        gap: 4rem;

        .left {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;

            .img-container {
                width: 250px;
                height: 250px;
                outline: 0.15rem solid var(--white);
                overflow: hidden;
                border-radius: 50%;
                margin: 2rem 0;
                transition: var(--small-transition);
                filter: grayscale(0.75);
                img {
                    transition: var(--large-transition);
                }
                &:hover {
                    box-shadow: 1px 2px 0.8rem rgba(255, 255, 255, 0.6);
                    filter: none;
                }
            }
        }
        .right {
            z-index: 20;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            font-weight: 300;
            .introduction {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                .name {
                    color: var(--primary-color);
                }
            }
        }
    }
}

/* ABOUT SECTION */
.about-sect {
    margin-bottom: 3rem;
}
.abt-cont {
    width: 100%;
    height: 100%;
    p {
        margin: 1rem 0;
    }
    .about-intro-cont {
        margin: 2rem 0;
        li {
            margin: 0 4rem;
            a {
                font-size: 0.9rem;
                color: var(--white);
                text-decoration: none;
                transition: var(--small-transition);
                &:hover {
                    color: var(--primary-color);
                    transform: translateY(-5px);
                }
            }
        }
    }
    h3 {
        margin-bottom: 1rem;
    }
    .learning-journey {
        display: grid;
        gap: 1rem;

        .journey {
            padding: 0 1rem 2rem 1rem;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
            border-left: 2px solid var(--primary-color);
            display: grid;
            gap: 0.5rem;
            position: relative;
            p,
            h4 {
                margin: 0;
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                background-color: var(--primary-color);
                z-index: 10;
                transform: translate(-50%, -50%);
            }
        }
    }
}
/*SKILLS SECTION*/

.skills {
    padding-right: 0;
    overflow-x: scroll;
    h2 {
        margin: 0 0 2rem 0;
    }
    padding-bottom: 1.5rem; 
::-webkit-scrollbar {
 background-color: red;   
}
}



.skills-cont {
    display: flex;
    gap: 2rem;
    animation: scroll 60s linear infinite;
    &:hover {
        animation-play-state: paused;
    }
    .skill {
        flex-shrink: 0;
        width: 20rem;
        padding: 1rem;
        border: 0.125rem solid var(--primary-color);
        border-radius: 0.25rem;
        transition: var(--small-transition);
        &:hover {
            transform: translateY(-1rem);
            border-color: var(--light-primary-color);
            border-radius: 0.25rem;
        }
        &:hover .content {
            p {
                font-size: 1.2rem;
            }
        }
    }

    .title {
        display: flex;
        align-items: center;
        gap: 3rem;
        margin-bottom: 1rem;
        img {
            width: 4rem;
            height: 4rem;
            border: 1px solid var(--white);
            border-radius: 50%;
        }
    }
    .content {
        p {
            font-size: 1rem;
        }
    }
}

/* PROJECTS */
.projects-cont {
    margin-top: 4rem;
    h3 {
        font-size: 1.6rem;
    }
}

.projects {
    margin: 3rem 0;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2.5rem;

    .project {
        position: relative;
        border: 2px solid var(--light-primary-color);
        border-radius: 0.5rem;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
        
        .img-cont {
            height: 15rem;
            img {
                aspect-ratio: 4/3;
                width: 100%;
                height: 100%;
                border-radius: 0.25rem;
                transition: var(--small-transition);

                &:hover {
                    border-left: 2px solid var(--light-primary-color);
                    border-top: 2px solid var(--light-primary-color);
                    border-right: 2px solid var(--light-primary-color);
                    transform: scale(1.05);
                    box-shadow: 1px 2px 0.25rem rgba(255, 255, 255, 0.6);
                }
            }
        }

        .project-description {
            padding: 1.5rem;
            display: grid;
            gap: 1rem;
            p {
                font-size: 1rem;
            }

            .links {
                display: flex;
                gap: 4rem;
                transition: var(--small-transition);
                cursor: pointer;
                a {
                    display: flex;
                    gap: 1rem;
                    text-decoration: none;
                    p {
                        font-size: 0.75rem;
                        color: var(--white);
                        text-decoration: none;
                    }
                    &:hover {
                        bi,
                        p {
                            color: var(--light-primary-color);
                        }
                    }
                }
            }
        }
        .technologies {
            display: flex;
            gap: 1rem;
            p {
                font-size: 0.7rem;
                margin-top: 0;
                padding: 0 0.5rem;
                border-radius: 0 0.75rem;
                background-color: var(--primary-color);
                box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
            }
        }
    }
}

/* MY CONTACT */
.contact-sect {
    h2 {
        margin-bottom: 2rem;
        width: 100%;
    }
}
.contact-cont {
    display: flex;
    width: 100%;

    gap: 3rem;
    .my-contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .heading {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
        .personal-info {
            display: flex;
            flex-direction: column;
            gap: 0.52rem;
            h4 {
                font-size: 1.5rem;
            }
            .name {
                margin-top: 0.5rem;
            }
            div {
                display: flex;
                gap: 4rem;
            }
            .phone-no a,
            .email a {
                color: var(--white);
                font-weight: 100;
                font-size: 0.9rem;
            }
            .phone-no a {
                margin-left: -1.8rem;
            }
            .location .nyeri {
                margin-left: -1.2rem;
            }
            .social-media-icons {
                margin-top: 1.5rem;
            }
        }
    }
    .client-contact {
        width: 100%;
        padding-bottom: 2rem;
        form {
            border-radius: 0.25rem;
            display: grid;
            width: 100% !important;
            span {
                color: var(--red);
            }

            label {
                margin-top: 1rem;
                display: grid;
                gap: 1rem;
                width: 100% !important;
                &:first-child {
                    margin-top: 0;
                }
                input {
                    color: var(--white);
                    height: 3rem;
                    padding: 0.5rem;
                    border-radius: 0.25rem;
                    border: 2px solid var(--grey-4-color);
                    background-color: var(--grey-5-color);

                    &:user-valid,
                    &:valid {
                        border-color: var(--green);
                    }

                    &:user-invalid {
                        border-color: var(--red);
                    }
                    &:focus:invalid,
                    &:focus:valid {
                        outline: none;
                        border-color: var(--light-primary-color) !important;
                    }
                }
            }
            textarea {
                margin: 1rem 0;
                color: var(--white);
                padding: 0.5rem;
                width: 100% !important;
                border-radius: 0.25rem;
                background-color: var(--grey-5-color);
                border: 2px solid var(--grey-4-color);
                outline: none;
                &:focus:invalid,
                &:focus:valid {
                    outline: none;
                    border-color: var(--light-primary-color) !important;
                }
                &:user-valid,
                &:valid {
                    border-color: var(--green);
                }
            }
            button {
                height: 2.2rem;
                width: 8rem;
                background-color: var(--light-primary-color);
                border: none;
                border-radius: 0.25rem;
                cursor: pointer;
                transition: var(--small-transition);
                &:hover {
                    background-color: var(--primary-color);
                }
                &:active,
                &:focus {
                    transform: scale(0.95);
                }
            }
        }
        form {
            width: 100%;
        }
    }
}
/* footer */


i {
    color: var(--white);
}

.social-media-icons {
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
    i {
        cursor: pointer;
        transition: var(--small-transition);
        &:hover {
            color: var(--primary-color);
        }
    }
    .bi-whatsapp {
        &:hover {
            color: var(--green);
        }
    }
    .bi-twitter-x {
        &:hover {
            color: var(--background-color);
        }
    }
    .bi-instagram {
        &:hover {
            color: orangered;
        }
    }
    .bi-linkedin {
        &:hover {
            color: var(--primary-color);
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--grey-5-color);
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    .social-media-icons {
        a {
            i {
                font-size: 1.5rem;
            }
        }
    }
}

footer.visible {
    transform: translateX(0);
    transition: var(--small-transition);
}

footer.hide {
    transform: translateY(100%);
    transition: var(--small-transition);
}

/* animations */
@keyframes btn-animation {
    0% {
        transform: translateX(100%);
        transform: scale(0, 0);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-22rem * 8));
    }
}

/*Media quaries*/
@media screen and (width < 1540px) {
    .border-container {
        width: 30%;
        height: 60% !important;
    }
}

@media screen and (max-width: 700px) {
                i {
                font-size: 1.25rem;
            }
        
    
    .section {
        min-height: 100vh;
    }
}
@media screen and (max-width: 780px) {
    .home-container {
        margin-top: 5rem;
    }
    .section {
        padding-left: 1rem;
    }
    .contact-cont {
        flex-direction: column;
        gap: 2rem;
    }
    .home-sect {
        header {
            padding: 1rem;
            padding-bottom: 2rem;
        }
        .home-container {
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }
    }
}

@media screen and (max-width: 500px) {
    .home-sect {
        .home-container {
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }
    }
    .mode-icons {
        top: 0.5rem;
        left: 0.5rem;
    }
    nav {
        right: 10px;
        bottom: 10px;
    }
     i {
                font-size: 1rem;
            }
}
